/* tipografía */
$black: #171717;
$grey: #cccccc;
$red-html: #e93e30;
$blue-css: #299ed5;
$yellow-js: #f7e018;
$green-vue: #67c770;
$dark-react: #292c33;
$green-adl: #67c770;
$purple-bootstrap: #563d7c;
$white: #ffffff;
$pinkish: #7c616c;
$light-pinkish: #d1b1cb;

$jersey-font: "Jersey 10", sans-serif;
$roboto-font: "Roboto", sans-serif;

$font-thin: 200;
$font-medium: 500;
$font-bold: 700;

$font14: 14px;
$font16: 16px;
$font20: 20px;
$font24: 24px;
$font28: 28px;
$font32: 32px;

$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 25px;
$sp5: 30px;
