@use "../abstracts/variables";

.contact {
  &__contacts-list {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    & p {
      font-size: 14px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &p:hover {
      color: $success;
    }

    & i {
      font-size: $font28;
      margin-right: 5px;
    }
  }
}
