@use "../abstracts/variables";

.skills {
  display: flex;
  &__item {
    display: flex;
    margin-right: 10px;
    align-items: center;
  }
  &__container {
    border-bottom: 1px solid #c6c6c6;
  }
  & .skills-image {
    width: 150px;
    height: auto;
  }
}

.no-code {
  & .skills__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-right: 10px;
    align-items: center;

    & p {
      font-size: $font14;
    }
  }

  & .skills-image {
    width: 150px;
    height: auto;
  }
}
